parasha = HebCal.current_parasha(Date.today)
puts "This week parasha: #{parasha}"

filename "#{parasha}_#{Date.today.year}"
title "Weekly Torah Portion #{parasha}, #{Date.today.year}"

add("torah") do |p|
  p.title 'Torah Portion'
  p.action do |a|
    a.set_host('http://www.biblegateway.com')
     .start_with(HebCal.link_to_parasha(parasha, 'B21'))
     .get_page
     .get_content('div.passage')
  end
end

add("ohr") do |p|
  p.title   'Ohr Somayach'
  p.action do |a| 
    a.set_host('http://ohr.edu')
     .start_with('/this_week/torah_weekly/')
     .get_page
     .get_link('div.latest_in_series a')
     .get_page
     .get_content('div#text')
     .remove('.noprint')
  end
end

add("frand") do |p|
  p.title   'Rabbi Yissocher Frand'
  p.action do |a| 
    a.set_host('http://www.torah.org')
     .start_with('/learning/ravfrand/')
     .get_page
     .get_link('table table table table table tr:nth-child(2) td:first a')
     .get_page
     .get_content('td[width="475"] font')
     .remove('center')
     .remove('table')
     .remove('a img')
     .remove('h3')
  end
end

add("sacks") do |p|
  p.title   'Covenant and Conversation'
  p.action do |a|
    a.set_host('http://www.chiefrabbi.org')
     .start_with('/category/covenantandconversation/')
     .get_page
     .get_link('div#content article:first-child a.entry-title')
     .get_page
     .get_content('div.entry')
     .remove('.addthis_toolbox')
     .remove('#attachment_255')
  end
end

=begin
It is redesigned and we need to fix it...
add("urj") do |p|
  p.title   'Union of Reform Judaism'
  p.action do |a|
    a.set_host('http://urj.org')
     .start_with('/learning/torah/')
     .get_page
     .get_link('div.Sheet2660 td.cnt1021Content a')
     .get_page
     .get_content('div.Content table.body div table tr:nth-child(2) td[bgcolor="#ffffff"]')
     .remove('div')
     .step_in    # get rid of surrounding TD tag
     .images
  end
end
=end


