parasha = HebCal.current_parasha(Date.today)
puts "This week parasha: #{parasha}"

filename "#{parasha}_#{Date.today.year}"
title "Weekly Torah Portion #{parasha}, #{Date.today.year}"

add("torah") do |p|
  p.title 'Torah Portion'
  p.action do |a|
    a.set_host('http://www.biblegateway.com')
     .start_with(HebCal.link_to_parasha(parasha, 'B21'))
     .get_page
     .get_content('div.passage')
  end
end

add("ohr") do |p|
  p.title   'Ohr Somayach'
  p.action do |a| 
    a.set_host('http://ohr.edu')
     .start_with('/this_week/torah_weekly/')
     .get_page
     .get_link('div.latest_in_series a')
     .get_page
     .get_content('div#text')
     .remove('.noprint')
  end
end

add("frand") do |p|
  p.title   'Rabbi Yissocher Frand'
  p.action do |a| 
    a.set_host('http://www.torah.org')
     .start_with('/learning/ravfrand/')
     .get_page
     .get_link('td[width="33%"] a')
     .get_page
     .get_content('td[width="475"] font')
     .remove('center')
     .remove('table')
     .remove('a img')
     .remove('h3')
  end
end

add("nikolsburg") do |p|
  p.title   'Nicolsburg'
  p.action do |a|
    a.set_host('http://www.nikolsburg.org')
	 .start_with('/OnParsha.aspx')
	 .get_page
	 .get_link(/<a\s+href=\"(Torah.aspx\?TID=\d+)\"/)
	 .get_page
	 .get_content('p.MsoNormal')
  end
end

add("sacks") do |p|
  p.title   'Covenant and Conversation'
  p.action do |a|
    a.set_host('http://www.rabbisacks.org')
  	 .start_with('/category/covenant-conversation/')
	 .get_page
	 .get_link('ul.post_archive li:first-child a')
     .get_page
     .get_content('article')
	 .remove('iframe')
	 .remove('div.printfriendly')
	 .step_in
	 .images
  end
end

add("urj") do |p|
  p.title   'Union of Reform Judaism'
  p.action do |a|
    a.set_host('http://www.reformjudaism.org')
     .start_with('/learning/torah-study/')
     .get_page
     .get_link('div.view-torah-portion-calendar ul li a')
     .get_page
     .get_link('div.view-the-most-recent-torah-commentary ul li a')
     .get_page
     .get_content('article.node-torah-commentary')
     .remove('span.print-link')
     .remove('div.field-name-field-utility-bar')
     .remove('div#disqus_thread')
     .step_in    
  end
end


